
.voting {
    @include flex(column);
    background: $color-gray;
    width: 2rem;
    height:  5rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;

    &__btn {
        flex: 1;
        color: $color-primary;
        border: none;
        border-radius: 0.8rem;
    }

    &__number {
        flex: 1;
        color: $color-primary;
        padding-top: 5px; 
    }   
}

.btn {
    position: relative;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0.5rem;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &--delete {
        color: $color-helper;
    }

    &--update {

    }

    &--reply {
        
        color: $color-primary;

        &:hover{
            color: #F1F1F1;
            background-color: $color-primary;
            opacity: 0.5;
        }
    }

    &--add {
        width: 105px;
        height: 48px;
        color: #F1F1F1;
        background-color: $color-primary;
        text-transform: uppercase;
    }
}

