<section class="card border">
    <div class="card__aside">
        <div class="voting">
            <button class="voting__btn" (click)="increaseScore(reply)">+</button>
            <span class="voting__number">{{reply.score}}</span>
            <button class="voting__btn" (click)="decreaseScore(reply)">-</button>
        </div>
    </div>
    <div class="card__main">
        <div class="card__header">
            <div class="card__header-img">
                <img [src]="imagePath" alt="profile-image">
            </div>               
             <small>{{reply.user.username}}</small>
            <span>{{reply.createdAt}}</span>

            <div class="card__header-actions">
                <button type="button" *ngIf="isCurrentUser" (click)="deleteComment(reply)" class="btn btn--delete">delete</button>
                <button type="button" *ngIf="isCurrentUser" (click)="updateReply(reply)" class="btn btn--update">edit</button>
                <button type="button" (click)="displyReply()" *ngIf="!isCurrentUser" class="btn btn--reply">Reply</button>
            </div>
            
        </div>
        <div class="card__content">
            <ng-container *ngIf="!updaiting">{{'@'+reply.replyingTo + " "+ reply.content}}</ng-container>
            <!-- <input type="text" [(ngModel)]='reply.content' *ngIf="updaiting"/> -->
            <textarea name="coment-content" id="" cols="50" rows="60" [(ngModel)]='reply.content' *ngIf="updaiting"></textarea>
            
        </div>
    </div>
</section>
<app-reply *ngIf="replying" [reply]="reply" (hidereply)="displyReply()">
</app-reply>